# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS files
.vs
*.VC.db
*.vcxproj.user

# Qt Creator user files
*.pro.user*

# Autosave files (?)
*.autosave

# Build directory
build

# Third party files
cbw.h
cbw64.lib
